* {
  margin: 0px;
  background-color: rgb(250, 250, 249);
}

.main-container{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-area{
  height: 430px;
  width: 430px;
  padding: 5px;
  border-radius: 5px;
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgb(230, 231, 210);
  /* background-color: rgba(103, 104, 93, 0.377); */
  align-items: center;
  justify-items: center;
}

.individual-grid{
  display: flex;
  height: 90px;
  width: 90px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 35px;
  font-family: 'Kanit', sans-serif;
  color: black;
  font-weight: bold;
  
}





